.font-block {
    margin-top: 150px;

    @media screen and (max-width: 992px) {
        margin-top: 50px;
    }

    .group-samples {
        margin-top: 52px;
        gap: 52px;

        @media screen and (max-width: 992px) {
            margin-top: 25px;
            gap: 25px;
        }
    }

    .font-name {
        font-size: 46px;
        font-weight: var(--secFontWeight);
        line-height: 33.5px;
        text-align: left;
    }

    .font-value {
        font-size: 16px;
        font-weight: var(--secFontWeight);
        text-align: left;
    }

    .font-weight-name {
        font-style: italic;
        font-weight: calc(var(--secFontWeight) + 100);
    }

    .first-letter {
        font-size: 34.77px;
        text-align: center;
        min-width: 97px;
        min-height: 68px;
        border-right: 2px solid #000;

        @media screen and (max-width: 992px) {
            border-right: 0px solid #000;
            border-bottom: 2px solid #000;
            padding-bottom: 20px;
        }

        .company-name {
            font-size: 11.92px;
            line-height: 16.75px;
            text-align: center;
        }
    }

    .font-sample {
        color: #58585A;
    }

    @media screen and (max-width: 992px) {
        .alphabet {
            font-size: 16px;
        }
    }
}