aside {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #E1E1E1;

    background-color: #fff;
    color: #343434;

    width: 61px;
    overflow: hidden;
    min-height: 100vh;
    max-height: 100vh;
    padding: 8px;

    transition: 0.2s ease-in-out;

    .flex {
        flex: 1 1 0%;
    }

    .logo {
        margin-bottom: 1rem;

        img {
            width: 2rem;
        }
    }

    .menu-item .text {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .menu:first-child {
        margin-top: 80px;

    }

    .menu {
        margin: 0;

        &>ul {
            list-style: none;
            padding: 0px;
        }

        &>ul>li:not(:last-child) {
            margin-bottom: 4px;

        }

        .menu-item {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #343434;
            gap: 17px;
            transition: 0.2s ease-in-out;
            padding-left: 0px;
            min-height: 36px;

            &.active {
                box-shadow: 0 0 0 100px var(--main-color-book) inset;
                border-radius: 8px;
                color: #fff;
            }

            .menu-icon {
                fill: currentColor;
                margin-inline-start: 9px;
            }

            .icon.icon-menu-space,
            .icon.icon-menu-misuse,
            .icon.icon-menu-feature,
            .icon.icon-menu-palette {
                fill: none;
                stroke: currentColor;
            }

            .text {
                color: currentColor;
                transition: opacity 0.2s ease-in-out;
                transition-delay: 0s, 250ms;
                font-size: 14px;
                font-weight: var(--secFontWeight);
                line-height: 1.2;
                text-align: left;
                width: max-content;
                word-break: keep-all;
                white-space: nowrap;
            }

        }
    }

    .powered {
        font-weight: var(--secFontWeight);
        line-height: 1.2;
        text-align: left;
        gap: 2px;
        margin-bottom: 14px;
        font-size: 0px;
        opacity: 0;
    }

    .footer {
        border-top: 1px solid rgba(0, 0, 0, 0.25) !important;
        margin: 0 -8px;
        padding: 16px 8px 8px
    }

    &.is_expanded {
        width: 220px;

        .menu-item .text {
            opacity: 1;
        }

        .powered {
            font-size: 8px;
            opacity: 0.5;
        }
    }

    @media screen and (max-width: 1200px) {
        position: sticky;
        top: 0px;
    }

    @media (max-width: 1024px) {
        position: fixed;
        z-index: 99;
        top: 0px;
        bottom: 0px;
    }
}

@media screen and (max-height: 700px) {
    aside .menu:first-child {
        max-height: calc(100vh - 200px);
        overflow-x: hidden;
        overflow-y: auto;
    }
}