nav.navbar.border-bottom {
    border-bottom: 1px solid var(--border-color);
    padding: 14px 12px 14px 0px;
    height: 69px;
    box-sizing: border-box;

    .logo {
        width: calc(61px - 14px);
        transition: 0.2s ease-in-out;

        .logo_small {
            max-height: 40px;
            display: block;
            opacity: 1;
        }

        .logo_full {
            display: none;
            opacity: 0;
            transition: 0.2s ease-in-out;
        }
    }

    .logo.is_expanded {
        width: calc(220px - 27px);
        margin-left: 14px;

        .logo_full {
            display: block;
            max-width: 160px;
            max-height: 40px;
            opacity: 1;
        }

        .logo_small {
            display: none;
            opacity: 0;
            transition: 0.2s ease-in-out;
        }
    }
}