body {
    --vs-colors--lightest: rgba(60, 60, 60, 0.26);
    --vs-colors--light: rgba(60, 60, 60, 0.5);
    --vs-colors--dark: #333;
    --vs-colors--darkest: rgba(0, 0, 0, 0.15);

    /* Search Input */
    --vs-search-input-color: inherit;
    --vs-search-input-bg: rgb(255, 255, 255);
    --vs-search-input-placeholder-color: inherit;

    /* Font */
    --vs-font-size: 14px;
    --vs-line-height: 1.5;

    /* Disabled State */
    --vs-state-disabled-bg: rgb(248, 248, 248);
    --vs-state-disabled-color: var(--vs-colors--light);
    --vs-state-disabled-controls-color: var(--vs-colors--light);
    --vs-state-disabled-cursor: not-allowed;

    /* Borders */
    --vs-border-color: #000;
    --vs-border-width: 1px;
    --vs-border-style: solid;
    --vs-border-radius: 34px;

    /* Actions: house the component controls */
    --vs-actions-padding: 4px 6px 0 3px;

    /* Component Controls: Clear, Open Indicator */
    --vs-controls-color: var(--vs-colors--light);
    --vs-controls-size: 1;
    --vs-controls--deselect-text-shadow: 0 1px 0 #fff;

    /* Selected */
    --vs-selected-bg: #f0f0f0;
    --vs-selected-color: var(--vs-colors--dark);
    --vs-selected-border-color: var(--vs-border-color);
    --vs-selected-border-style: var(--vs-border-style);
    --vs-selected-border-width: var(--vs-border-width);

    /* Dropdown */
    --vs-dropdown-bg: #fff;
    --vs-dropdown-color: inherit;
    --vs-dropdown-z-index: 1000;
    --vs-dropdown-min-width: 160px;
    --vs-dropdown-max-height: 350px;
    --vs-dropdown-box-shadow: 0px 3px 6px 0px var(--vs-colors--darkest);

    /* Options */
    --vs-dropdown-option-bg: #000;
    --vs-dropdown-option-color: var(--vs-dropdown-color);
    --vs-dropdown-option-padding: 3px 20px;

    /* Active State */
    --vs-dropdown-option--active-bg: var(--main-color-book);
    --vs-dropdown-option--active-color: #fff;

    /* Deselect State */
    --vs-dropdown-option--deselect-bg: #fb5858;
    --vs-dropdown-option--deselect-color: #fff;

    /* Transitions */
    --vs-transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
    --vs-transition-duration: 150ms;

    .v-select {
        font-size: 14px;
    }

    .vs__dropdown-toggle {
        padding: 0 16px;
        height: 30px;
    }

    .vs--single .vs__selected,
    .vs__selected-options,
    .vs__search {
        padding: 0px !important;
        margin: 0px !important;
    }

    .vs__open-indicator {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.82733 4.88848L0.913934 2.23994C0.237605 1.6251 0.672575 0.5 1.58661 0.5L7.41339 0.5C8.32743 0.5 8.76239 1.6251 8.08606 2.23994L5.17267 4.88848C4.79125 5.23523 4.20875 5.23523 3.82733 4.88848Z' fill='black'/%3e%3c/svg%3e ");
        fill: transparent;
        background-size: 11px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .vs__clear {
        display: none;
    }


    .vs--open .vs__dropdown-toggle {
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
    }

    .vs__dropdown-menu {
        border-bottom-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;

    }
}